<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista obrazków</title>
    <!-- Pobierz Bootstrap z oficjalnego serwera CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="bg-dark text-light">
<div>
    <H1>Obrazek</H1>
    <div>
        <img src="/images/{{ obrazek.image }}" alt="Miniaturka obrazka">
    </div>
    Tagi:
    {% for tag in obrazek.tags.all %}
    <div>
        <li>{{ tag.name }}</li>
    </div>
    {% endfor %}
</div>
</body>
</html>